<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Rastro.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>55C2E6D7224E827F009D0FD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55C2E6EB224E8280009D0FD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55C2E6F6224E8280009D0FD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
